<!DOCTYPE html>
<html>
    <head>
        <title>
            Predict Insulin
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-md-6 bg-light">
                    <div class="login d-flex align-items-center py-5">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-10 col-xl-7 mx-auto">
                                    <form action="{{url_for('predict')}}" method="POST">
                                        <h3 class="text-center bold">Predict Insulin</h3>
                          <hr />
                                        <div class="mb-3">
                                          <label for="exampleDropdownFormEmail2" class="form-label">Blood Glucose</label>
                                          <input type="text" class="form-control" id="exampleDropdownFormEmail2" placeholder="Blood Glucose (mg/dl)" name="bloodglucose">
                                        </div>
                                        <div class="mb-3">
                                          <label for="exampleDropdownFormPassword2" class="form-label">Exercise</label>
                                          <input type="text" class="form-control" id="exampleDropdownFormPassword2" placeholder="Exercise (hrs)" name="exercise">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleDropdownFormPassword2" class="form-label">Carbohydrate Intake</label>
                                            <input type="text" class="form-control" id="exampleDropdownFormPassword2" placeholder="Carbohydrate Intake (gms)" name="carbohydrateintake">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Predict</button>
                                        
                                      </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-flex bg-image">
                </div>
                <p class="disclaimer"><b class="red">Disclaimer: </b>It is an experimental project. Do not use it as a medical application</p>
                <p class="copyright">&#169 Sk. Md. Adnan Md. Aqueel</p>
                <p class="photocredit">Photo by Towfiqu barbhuiya on Unsplash</p>
            </div>
        </div>
    </body>
</html>